asgi-lifespan==2.1.0
configargparse==1.7
email-validator==2.2.0
fastapi==0.115.6
fastapi_aws_lambda==0.0.1
h2==4.1.0
httptools==0.6.4
keyring==25.5.0
langchain-openai==0.2.12
langgraph==0.2.58
passlib==1.7.4
pydantic-settings==2.6.1
python-jose==3.3.0
python-multipart==0.0.19
sqlalchemy==2.0.36
supabase==2.10.0
uvicorn==0.32.1
